<h1>Edit Event</h1>

<%= form_for @event do |f| %>
  <%= render partial: "layouts/errors", locals: {object: f.object} %>
  <%= f.datetime_select :event_at %> <br /><br />
  <%= f.submit "Update" %> <%= link_to "Cancel", root_path %>
<% end %>